<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {{title}}
    </title>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://pro.fontawesome.com/releases/v5.15.4/css/all.css" rel="stylesheet">
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
    <meta property="og:title" content="Web3 Community" />
    <meta property="og:image" content="https://user-images.githubusercontent.com/73097560/131442083-839cf4b0-795e-4b80-be25-a5a1681fc661.png" />
    <meta property="og:url" content="https://web3community.github.io/" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:description" content="An Open Source Community that focuses on decentralized applications, Web 3.0, and blockchain technologies 🚀" />
    <!-- Start: Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="web3community.github.io" />
    <meta property="twitter:url" content="https://web3community.github.io" />
    <meta name="twitter:title" content="Web3 Community" />
    <meta
        name="twitter:description"
        content="An Open Source Community that focuses on decentralized applications, Web 3.0, and blockchain technologies 🚀"
    />
    <meta name="twitter:image" content="https://user-images.githubusercontent.com/73097560/131442083-839cf4b0-795e-4b80-be25-a5a1681fc661.png" />
    <!-- End: Twitter Meta Tags -->
    {% if prism == true %}
      <link rel="stylesheet" type="text/css" href="/static/css/prism-tomorrow.css">
    {% endif %}
  </head>
  <body>
    {% include "./partials/navbar.html" %}

    {{ content | safe }}

    {% include "./partials/footer.html" %}

    <script src="/static/js/alpine.js"></script>
    <script src="//unpkg.com/alpinejs" defer></script>

    {% if path == "home" %}
      <!-- Netlify Identity Widget -->
      <!-- Needed only if we are using Netlify Identity feature -->
      <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endif %}

  </body>
</html>
