---
title: FAQ | Web3 Community
layout: default
path: faq
---

<section class="text-white text-center" style="background-color:#00007F">
    <div class="px-20 py-20">
        <h1 class="font-bold text-5xl antialiased">Frequently Asked Questions</h1>
        <p class="mt-6 font-light antialiased">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. </p>
    </div>
</section>

<div class="flex flex-col">
    <div class="bg-white pt-12 pb-12 flex-1 px-8">
        <div class="container mx-auto">
            <div class="flex flex-wrap md:-mx-3 gap-6">
                <ul class="w-full">
                    {{ content | safe }}
                </ul>
            </div>
        </div>
    </div>
</div>
