# pattern:

# file/directory            user

# Default reviewers/codeowners for all code changes
* @WebXDAO/

# Reviewer by email for html files

# Reviewer by organization Team
/src/* @WebXDAO/webx-guild-developer WebXDAO/gssoc-mentors


# Reviewer by specific folders