{
  "trailingComma": "es5",
  "singleQuote": false,
  "jsxSingleQuote": false,
  "printWidth": 100,
  "tabWidth": 2,
  "semi": true,
  "endOfLine": "auto",
  "pluginSearchDirs": false,
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-tailwindcss"
  ]
}
