@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/
.gradient {
  background: linear-gradient(90deg, #00007F 0%, #0086D6 100%);
}

.neumorphism {
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
}

/*  Tab Content - FAQ */
.tab p {
  @apply text-xs;
}

li.tab:first-of-type {
  border-top: 1px;
  border-color: #e5e7eb;
  border-style: solid;
}

.tab h2 {
  border-top: 0;
  border-left: 1px;
  border-right: 1px;
  border-bottom: .5px;
  border-color: #e5e7eb;
  border-style: solid;
}

.tab-content {

  border-left-width: 2px;
  /*.border-l-2*/
  border-color: #1C64F2;
  /*.border-indigo*/
  background-color: #f8fafc;
  /*.bg-gray-100 */
  color: #1C64F2;
  /*.text-indigo*/
}

/*Core CSS*/
@layer base {
  h1 {
    @apply text-4xl tracking-tighter mb-3;
  }

  h3 {
    @apply text-2xl font-bold mb-3;
  }

  body {
    font-family: 'Poppins', sans-serif;
  }

  /* Syntax Highlighting*/

  body :not(pre)>code[class*="language-"],
  body pre[class*="language-"] {
    @apply bg-gray-800;
  }
}