---
layout: default
title: Web3 Community
path: home
---

<!--Hero-->
<div class="text-white pt-24 py-24" style="background-color: #00007F">
  <div class="container px-5 mx-auto flex flex-wrap flex-col md:flex-row items-center">

    <!--Left Col-->
    <div class="px-5 flex flex-col w-full md:w-2/5 items-start text-center md:text-left">
      <h1 class="my-4 text-3xl font-bold leading-tight">
        A new community for Blockchain developers, designers, and Dapp Owners
      </h1>
      <p class="leading-normal text-xl mb-8">
        An Open Source Community that focuses on decentralized applications, Web3, and blockchain technologies 🚀
      </p>
      <div class="flex items-center justify-center w-full md:justify-start">
        <a href="https://github.com/web3community/start-here" target="_blank" rel="noopener">
          <button style="background: #0086D6"
            class="text-white rounded-md my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
            Explore
          </button>
        </a>
      </div>
    </div>

    <!--Right Col-->
    <div class="flex flex-col w-full h-96 md:w-3/5 py-6 text-center items-end" style="background: url('./static/img/hero.png') no-repeat center center;background-size: contain;">
      <!-- <img class="w-full md:w-2/5 object-right " src="./static/img/hero.png" /> -->
    </div>
  </div>
</div>

<!--Numbers-->
<section class="bg-white py-8">
  <div class="container mx-auto flex flex-wrap pt-4 pb-12">

    <!--Total Courses-->
    <div class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink text-center">
      <div class="flex-1 bg-white overflow-hidden">
        <a href="#" class="flex flex-wrap no-underline  hover:no-underline">
          <div class="w-full font-bold text-3xl text-blue-500 px-6">
            100+
          </div>
          <div class="w-full font-bold text-xl text-gray-900 px-6 p-5">
            Total Courses
          </div>
          <p class="text-gray-800 text-base px-6 mb-5 text-center mx-10">
            Lot of courses that offer free and premium features
          </p>
        </a>
      </div>
    </div>

    <!--Free Tools-->
    <div class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink text-center">
      <div class="flex-1 bg-white overflow-hidden">
        <a href="#" class="flex flex-wrap no-underline hover:no-underline">
          <div class="w-full font-bold text-3xl text-green-600 px-6">
            80+
          </div>
          <div class="w-full font-bold text-xl text-gray-900 px-6 p-5">
            Free Tools
          </div>
          <p class="text-gray-800 text-base px-6 mb-5 mx-10">
            Explore free tools for students that would help you achieve something
          </p>
        </a>
      </div>
    </div>

    <!--Premium Tools-->
    <div class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink text-center">
      <div class="flex-1 bg-white overflow-hidden">
        <a href="#" class="flex flex-wrap no-underline hover:no-underline">
          <div class="w-full font-bold text-3xl text-red-600 px-6">
            40+
          </div>
          <div class="w-full font-bold text-xl text-gray-900 px-6 p-5">
            Premium Tools
          </div>
          <p class="text-gray-800 text-base px-6 mb-5 mx-10">
            Need more features? Let's try the premium tools!
          </p>
        </a>
      </div>
    </div>
  </div>
</section>

<!--Blockchain Developer Path-->
<section class="bg-gray-50">
  <div class="container max-w-7xl pt-8">
    <h1 class="w-full my-2 text-4xl font-bold leading-tight text-center text-gray-800">
      Blockchain Developer Path
    </h1>
    <p class="text-center text-gray-800 text-base px-6 mb-5 mx-10">
      The latest field in the tech industry
    </p>
    <div class="w-full mb-4">
      <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
    </div>



    <div class="text-black grid grid-col-1 p-3 gap-y-3 md:grid md:grid-cols-2 md:gap-3 md:p-3">

      <!--Simplilearn-->
      <div
        class="cursor-pointer  bg-white flex-1 rounded-md shadow focus:outline-none focus:shadow-outline transform transition hover:scale-105 hover:shadow-lg duration-300 ease-in-out p-4">
        <div class="flex items-center justify-start overflow-hidden">
          <img alt="simplilearn" class="bg-gray-50 p-5 rounded-md" src="./static/img/simplilearn.png" />
          <div id="body" class="flex flex-col gap-y-3 pl-5">
            <h4 id="name" class="text-xl font-semibold">Simplilearn</h4>
            <p id="caption" class="text-gray-800">Blockchain Tutorial for Beginners for Beginners to Advanced Level.
            </p>
            <div id="label" class="flex text-sm gap-x-3">
              <a href="https://www.simplilearn.com/tutorials/blockchain-tutorial?source=sl_frs_nav_playlist_video_clicked">
              <button
                class="font-semibold bg-blue-100 text-blue-600 text-white rounded-md py-2 px-4 focus:outline-none">
                Take me there!
              </button>
            </a>
              <button
                class="font-semibold bg-blue-100 text-blue-600 text-white rounded-md py-2 px-4 focus:outline-none">
                Development
              </button>
            </div>
          </div>
        </div>
      </div>

      <!--Learn with Whiteboard-->
      <div
        class="cursor-pointer bg-white flex-1 rounded-md shadow focus:outline-none focus:shadow-outline transform transition hover:shadow-lg hover:scale-105 duration-300 ease-in-out p-4">
        <div class="flex items-center justify-start overflow-hidden">
          <img alt="whiteboard" class="bg-gray-50 p-5 rounded-md" src="./static/img/whiteboard.png" />
          <div id="body" class="flex flex-col gap-y-3 pl-5">
            <h4 id="name" class="text-xl font-semibold">Learn with Whiteboard</h4>
            <p id="caption" class="text-gray-800">The skills required for a blockchain developer which is one of the in-demand professions today.</p>
            <div id="label" class="flex text-sm gap-x-3">
              <a href="https://www.youtube.com/watch?v=x9l3y0cdpuU">
              <button
                class="font-semibold bg-blue-100 text-blue-600 text-white rounded-md py-2 px-4 focus:outline-none">
                Take me there!
              </button>
            </a>
              <button
                class="font-semibold bg-blue-100 text-blue-600 text-white rounded-md py-2 px-4 focus:outline-none">
                Development
              </button>
            </div>
          </div>
        </div>
      </div>

      <!--Figment-->
      <div
        class="cursor-pointer bg-white flex-1 rounded-md shadow focus:outline-none focus:shadow-outline transform transition hover:scale-105 hover:shadow-lg duration-300 ease-in-out p-4">
        <div class="flex items-center justify-start">
          <img alt="figment" class="bg-gray-50 p-5 rounded-md" src="./static/img/figment.png" />
          <div id="body" class="flex flex-col gap-y-3 pl-5">
            <h4 id="name" class="text-xl font-semibold">Figment</h4>
            <p id="caption" class="text-gray-800">The Web 3 education platform for developers, by developers. Learn the Web 3 basics with 101 Pathways.</p>
            <div id="label" class="flex text-sm gap-x-3">
              <a href="https://learn.figment.io/">
              <button
                class="font-semibold bg-blue-100 text-blue-600 text-white rounded-md py-2 px-4 focus:outline-none">
                Take me there!
              </button>
            </a>
              <button
                class="font-semibold bg-blue-100 text-blue-600 text-white rounded-md py-2 px-4 focus:outline-none">
                Development
              </button>
            </div>
          </div>
        </div>
      </div>

      <!--CryptoZombies-->
      <div
        class="flex-1 cursor-pointer bg-white flex-1 rounded-md shadow focus:outline-none focus:shadow-outline transform transition hover:shadow-lg hover:scale-105 duration-300 ease-in-out p-4">
        <div class="flex items-center justify-start">
          <img alt="cryptozombies" class="bg-gray-50 p-5 rounded-md" src="./static/img/cryptozombie.png" />
          <div id="body" class="flex flex-col gap-y-3 pl-5">
            <h4 id="name" class="text-xl font-semibold">CryptoZombies</h4>
            <p id="caption" class="text-gray-800">CryptoZombies is an interactive school that teaches you all things technical about blockchains.</p>
            <div id="label" class="flex text-sm gap-x-3">
              <a href="https://cryptozombies.io/">
              <button
                class="font-semibold bg-blue-100 text-blue-600 text-white rounded-md py-2 px-4 focus:outline-none">
                Take me there!
              </button>
            </a>
              <button
                class="font-semibold bg-blue-100 text-blue-600 text-white rounded-md py-2 px-4 focus:outline-none">
                Development
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="text-black  -m-2 mb-8"> -->
      
    <!-- </div> -->

    <div class="flex justify-center items-center py-5">
      <a href="https://github.com/web3community/blockchain-dev-path" target="_blank"><button
          class="bg-gray-700 text-white text-white rounded-md py-2 px-8 shadow transform transition hover:scale-85 hover:shadow-lg duration-300 ease-in-out">
          See All
        </button></a>
    </div>
</section>

<!--Community Blogs-->
<section class="bg-white py-8">
  <div class="container max-w-5xl mx-auto">
    <h1 class="w-full my-2 text-4xl font-bold leading-tight text-center text-gray-800">
      Blogs
    </h1>
    <div class="w-full mb-4">
      <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
    </div>
  </div>

  <div class="container max-w-screen-xl mx-auto flex flex-wrap pt-4 pb-8 grid-cols-1 md:grid-cols-3 c mb-8 gap-6 px-8">

    {% if devto %}
    {% for article in devto %}
        <div onclick="window.location='{{ article.url }}'"
            class="flex-1 cursor-pointer xl:w-1/3 md:w-1/2 p-2 shadow rounded-md focus:outline-none focus:shadow-outline transform transition hover:shadow-lg hover:scale-105 duration-300 ease-in-out">
            <div class="bg-white p-4 rounded-lg">
                <img class="lg:h-60 xl:h-56 md:h-64 sm:h-72 xs:h-72 h-72 rounded-md w-full object-cover object-center mb-6"
                    src="{{ article.social_image }}" alt="{{ article.title }}">
                <div class="flex justify-between">
                    <h2 class="text-xl text-gray-900 font-semibold mb-4">{{ article.title }}</h2>
                </div>
                <p class="leading-relaxed text-sm text-gray-600">{{ article.description }}</p>
            </div>
            <time class="   p-4 text-gray-500 opacity-50 text-xs">
                {{ article.readable_publish_date }} by
                <a>{{ article.user.name }}</a>
            </time>
        </div>
    {% endfor %}
    {% else %}
        <div>No data to query here...</div>
    {% endif %}

  </div>

  <div class="flex justify-center">
    <a href="https://github.com/web3community/blog" target="_blank"><button
        class="bg-gray-700 text-white mx-auto lg:mx-0 rounded-md py-2 px-8 shadow transform transition hover:scale-85 hover:shadow-lg duration-300 ease-in-out">
        See All
      </button></a>
  </div>
</section>

<!--Dev Protocols Brands-->
<section class="bg-white py-8">
  <div class="container max-w-5xl mx-auto m-8">
    <h1 class="w-full my-2 text-4xl font-bold leading-tight text-center text-gray-800">
      Dev Protocol Brand
    </h1>
    <p class="text-center text-gray-800 text-base px-6 mb-5 mx-10">
      Our Partner Open Source Projects
    </p>
    <div class="w-full mb-4">
      <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
    </div>
  </div>

  <div class="container mx-auto text-black max-w-screen-xl flex flex-wrap flex-col pt-4 mb-8 px-8">
    <div class="items-center gap-6 text-black flex flex-row flex-wrap grid grid-cols-1 md:grid-cols-3">
      <a href="https://devprotocol.xyz/" class="h-full group">
        <div
          class="mx-auto flex flex-col justify-evenly items-center h-full object-center text-center p-8 shadow cursor-pointer rounded-md focus:outline-none focus:shadow-outline transform bg-white transition hover:shadow-lg hover:scale-105 duration-300 ease-in-out">
          <div class="h-24 w-full flex-shrink-0" style="background: url('./static/img/dev_protocol.png') no-repeat center center; background-size: contain;"></div>
          <!-- <img class="object-center h-24 object-none" src="./static/img/dev_protocol.png" alt="Dev Protocol"> -->
          <p class="text-gray-800 mt-8 mb-2 text-sm px-8 sm:px-4 h-full">
            Dev Protocol integrates with OSS so that projects or creators can authenticate and tokenize their work. It
            is a whole new creator economy evolving from open creators assets.
          </p>
        </div>
      </a>


      <a href="https://stakes.social/" class="h-full filter filter-blur-4">
        <div
          class="mx-auto flex flex-col justify-evenly items-center h-full content-center text-center p-8 shadow cursor-pointer rounded-md focus:outline-none focus:shadow-outline transform bg-white transition hover:shadow-lg hover:scale-105 duration-300 ease-in-out">
          <div class="h-24 w-full flex-shrink-0" style="background: url('./static/img/stakes_social.png') no-repeat center center; background-size: contain;"></div>
          <!-- <img class="object-center h-full object-none" src="./static/img/stakes_social.png" alt="Stakes.Social"> -->
          <p class="text-gray-800 mt-8 mb-2 text-sm px-8 sm:px-4 h-full">
            Stakes.social is a new sponsor platform where both developers and sponsors are rewarded with tokens if they
            support their favorite projects by staking $DEV tokens.
          </p>
        </div>
      </a>

      <a href="https://community.devprotocol.xyz/" class="h-full">
        <div
          class="mx-auto flex flex-col justify-evenly items-center h-full content-center text-center p-8 shadow cursor-pointer rounded-md focus:outline-none focus:shadow-outline transform bg-white transition hover:shadow-lg hover:scale-105 duration-300 ease-in-out">
          <div class="h-24 w-full flex-shrink-0" style="background: url('./static/img/dev_protocol_forum.png') no-repeat center center; background-size: contain;"></div>
          <!-- <img class="object-center h-full object-none" src="./static/img/dev_protocol_forum.png" -->
            <!-- alt="Dev Protocol Forum"> -->
          <p class="text-gray-800 mt-8 mb-2 text-sm px-8 sm:px-4 h-full">
            Dev Protocol forum is an open conversation for everyone who can collaborate or propose ideas to the Dev
            Protocol team or help other community members.
          </p>
        </div>
      </a>
    </div>
  </div>
</section>

<!--Testimonials-->
<section class="bg-gray-50 py-8">
  <div class="container max-w-5xl mx-auto m-8">
    <h1 class="w-full my-2 text-4xl font-bold leading-tight text-center text-gray-800">
      Testimonials
    </h1>
    <p class="text-center text-gray-800 text-base px-6 mb-5 mx-10">
      Community Members Experience
    </p>
    <div class="w-full mb-4">
      <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
    </div>
  </div>

  <div class="lg:container mx-auto flex flex-wrap pt-4 mb-8 px-8 pb-12">
    <div class="items-center gap-6 text-black flex flex-row flex-wrap grid grid-cols-1 md:grid-cols-3">
      <a href="#" class="h-full filter filter-blur-4">
        <div
          class="mx-auto flex flex-col justify-evenly h-full content-start p-6 shadow cursor-pointer rounded-md focus:outline-none focus:shadow-outline transform bg-white transition hover:shadow-lg hover:scale-105 duration-300 ease-in-out">
          <div class="flex py-4">
            <div class="flex items-center">
              <svg class="mx-1 w-4 h-4 fill-current text-yellow-500" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20">
                <path
                  d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z" />
              </svg>
              <svg class="mx-1 w-4 h-4 fill-current text-yellow-500" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20">
                <path
                  d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z" />
              </svg>
              <svg class="mx-1 w-4 h-4 fill-current text-yellow-500" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20">
                <path
                  d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z" />
              </svg>
              <svg class="mx-1 w-4 h-4 fill-current text-yellow-500" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20">
                <path
                  d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z" />
              </svg>
              <svg class="mx-1 w-4 h-4 fill-current text-gray-400" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20">
                <path
                  d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z" />
              </svg>
            </div>
          </div>
          <p class="text-gray-600 text-base mb-2">
            Gear Menyediakan informasi tools yang powerful untuk Designer, Developer, dan juga Business Owner agar bisa
            lebih produktif
          </p>
          <div class="flex flex-row items-center justify-start py-2">
            <div class="h-16 w-16 flex-shrink-0" style="background: url('./static/img/placeholder/placeholder_1.png') no-repeat left center; background-size: contain;"></div>
            <!-- <img alt="mindmaster" class="px-5 py-2 rounded-full w-1/4 flex-shrink-0 inline-block"
              src="./static/img/placeholder/placeholder_1.png" /> -->
            <div class="flex flex-col justify-center pl-3">
              <div class="w-full font-bold text-xl text-gray-800">
                Wahid Ari
              </div>
              <p class="text-gray-800 text-base">
                Designer
              </p>
            </div>
          </div>
        </div>
      </a>

      <a href="#" class="h-full filter filter-blur-4">
        <div
          class="mx-auto flex flex-col justify-evenly h-full content-start p-6 shadow cursor-pointer rounded-md focus:outline-none focus:shadow-outline transform bg-white transition hover:shadow-lg hover:scale-105 duration-300 ease-in-out">
          <div class="flex py-4">
            <div class="flex items-center">
              <svg class="mx-1 w-4 h-4 fill-current text-yellow-500" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20">
                <path
                  d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z" />
              </svg>
              <svg class="mx-1 w-4 h-4 fill-current text-yellow-500" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20">
                <path
                  d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z" />
              </svg>
              <svg class="mx-1 w-4 h-4 fill-current text-yellow-500" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20">
                <path
                  d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z" />
              </svg>
              <svg class="mx-1 w-4 h-4 fill-current text-yellow-500" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20">
                <path
                  d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z" />
              </svg>
              <svg class="mx-1 w-4 h-4 fill-current text-gray-400" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20">
                <path
                  d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z" />
              </svg>
            </div>
          </div>
          <p class="text-gray-600 text-base mb-2">
            Gear Menyediakan informasi tools yang powerful untuk Designer, Developer, dan juga Business Owner agar bisa
            lebih produktif
          </p>
          <div class="flex flex-row items-center justify-start py-2">
            <div class="h-16 w-16 flex-shrink-0" style="background: url('./static/img/placeholder/placeholder_2.png') no-repeat left center; background-size: contain;"></div>
            <!-- <img alt="mindmaster" class="px-5 py-2 rounded-full w-1/4"
              src="./static/img/placeholder/placeholder_2.png" /> -->
            <div class="flex flex-col justify-center pl-3">
              <div class="w-full font-bold text-xl text-gray-800">
                Wahid Ari
              </div>
              <p class="text-gray-800 text-base">
                Developer
              </p>
            </div>
          </div>
        </div>
      </a>

      <a href="#" class="h-full filter filter-blur-4">
        <div
          class="mx-auto flex flex-col justify-evenly h-full content-start p-6 shadow cursor-pointer rounded-md focus:outline-none focus:shadow-outline transform bg-white transition hover:shadow-lg hover:scale-105 duration-300 ease-in-out">
          <div class="flex py-4">
            <div class="flex items-center">
              <svg class="mx-1 w-4 h-4 fill-current text-yellow-500" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20">
                <path
                  d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z" />
              </svg>
              <svg class="mx-1 w-4 h-4 fill-current text-yellow-500" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20">
                <path
                  d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z" />
              </svg>
              <svg class="mx-1 w-4 h-4 fill-current text-yellow-500" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20">
                <path
                  d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z" />
              </svg>
              <svg class="mx-1 w-4 h-4 fill-current text-yellow-500" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20">
                <path
                  d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z" />
              </svg>
              <svg class="mx-1 w-4 h-4 fill-current text-gray-400" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20">
                <path
                  d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z" />
              </svg>
            </div>
          </div>
          <p class="text-gray-600 text-base mb-2">
            Gear Menyediakan informasi tools yang powerful untuk Designer, Developer, dan juga Business Owner agar bisa
            lebih produktif
          </p>
          <div class="flex flex-row items-center justify-start py-2">
            <div class="h-16 w-16 flex-shrink-0" style="background: url('./static/img/placeholder/placeholder_3.png') no-repeat left center; background-size: contain;"></div>
            <!-- <img alt="mindmaster" class="px-5 py-2 rounded-full w-1/4"
              src="./static/img/placeholder/placeholder_3.png" /> -->
            <div class="flex flex-col justify-center pl-3">
              <div class="w-full font-bold text-xl text-gray-800">
                Wahid Ari
              </div>
              <p class="text-gray-800 text-base">
                UI/UX Designer
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
