<!--Footer-->
<footer class="{{ 'fixed' if path == 'homee' }}" style="background:#1F2E35">
    <div class="container mx-auto px-8">
        <div class="w-full flex flex-col md:flex-row py-6">
            <div class="flex-wrap flex-1 md:px-4 mb-6 text-black">

                <!-- social icons start -->
                <p class="text-white mb-3 md:mb-6">Socials</p>
                <div class="space-x-4">
                    <a aria-hidden='true'
                        class='text-white fa fa-envelope fa-lg transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-100'
                        href='mailto:web3community@gmail.com' rel='noreferrer' target='_blank' title='mail us'></a>

                    <a aria-hidden='true'
                        class='text-white fa fa-instagram fa-lg transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-100'
                        href='https://www.instagram.com/web3community/' rel='noreferrer' target='_blank'
                        title='follow us'></a>

                    <a aria-hidden='true'
                        class='text-white fa fa-twitter fa-lg transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-100'
                        href='https://twitter.com/web3community' rel='noreferrer' target='_blank' title='follow us'></a>

                    <a aria-hidden='true'
                        class='text-white fa fa-linkedin fa-lg transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-100'
                        href='https://www.linkedin.com/company/web3community' rel='noreferrer' target='_blank'
                        title='follow us'></a>

                    <a aria-hidden='true'
                        class='text-white fa fa-github fa-lg transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-100'
                        href='https://github.com/web3community' rel='noreferrer' target='_blank' title='follow us'></a>
                </div>
            <!--socials icons ended-->

            <!--menu start-->
            </div>
            <div class="flex-1">
                <p class="text-white md:mb-6">Resources</p>
                <ul class="list-reset mb-6">
                    <li class="mt-2 mr-2 block md:mr-0">
                        <a href="#" class="no-underline text-gray-400 hover:text-blue-500">About Us</a>
                    </li>
                    <li class="mt-2 mr-2 block md:mr-0">
                        <a href="#" class="no-underline text-gray-400 hover:text-blue-500">Blog</a>
                    </li>
                    <li class="mt-2 mr-2 block md:mr-0">
                        <a href="#" class="no-underline text-gray-400 hover:text-blue-500">Contact</a>
                    </li>
                    <li class="mt-2 mr-2 block md:mr-0">
                        <a href="#" class="no-underline text-gray-400 hover:text-blue-500">FAQ</a>
                    </li>
                </ul>
            </div>
            <div class="flex-1">
                <p class="text-white md:mb-6">Legal Stuff</p>
                <ul class="list-reset mb-6">
                    <li class="mt-2 mr-2 md:block md:mr-0">
                        <a href="#" class="no-underline text-gray-400 hover:text-blue-500">Disclaimer</a>
                    </li>
                    <li class="mt-2 mr-2 block md:mr-0">
                        <a href="#" class="no-underline text-gray-400 hover:text-blue-500">Financing</a>
                    </li>
                    <li class="mt-2 mr-2 block md:mr-0">
                        <a href="#" class="no-underline text-gray-400 hover:text-blue-500">Privacy Policy</a>
                    </li>
                    <li class="mt-2 mr-2 block md:mr-0">
                        <a href="#" class="no-underline text-gray-400 hover:text-blue-500">Terms of Service</a>
                    </li>
                </ul>
            </div>
            <div class="flex-1">
                <p class="text-white md:mb-6">Contact</p>
                <ul class="list-reset mb-6">
                    <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                        <a href="mailto:web3community@gmail.com"
                            class="no-underline text-gray-400 hover:text-blue-500">web3community@gmail.com</a>
                    </li>
                    <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                        <a class="no-underline text-gray-400">Global Open Source</a>
                    </li>
                    <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                        <a class="no-underline text-gray-400">Community for Dapps & $Dev</a>
                    </li>
                </ul>
            </div>
        <!--menu end-->

        </div>
    </div>
    <div style="background:#1D292F" class="text-center text-sm font-light py-4 text-gray-200">
        <small>Copyright ©
            {{settings.name}}
            2021. Made with ❤️ by
            <a href="{{settings.url}}" target="_blank" class="underline">{{settings.author}}</a>
            •
            <a href="https://github.com/web3community/web3community.github.io" class="underline" target="_blank"
                rel="noopener">View on Github</a>
        </small>
    </div>
</footer>
