<nav id="header" class="{{ 'lg:fixed' if path == 'homee' }} w-full z-30 top-0 text-white bg-white relative">
  <div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 py-2">
    <div class="pl-4 flex items-center">
      <a class="toggleColour text-black no-underline hover:no-underline font-bold text-2xl lg:text-2xl" href="/">
        <!--Icon from: http://www.potlabicons.com/ -->
        <img src="/static/img/logo.png" alt="Web 3 Community" class="h-16 items-start">
      </a>
    </div>
    <div class="block lg:hidden pr-4">
      <button id="nav-toggle"
        class="flex items-center p-1 text-blue-800 hover:text-gray-900 focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
        <svg class="fill-current h-6 w-6" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <title>Menu</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
        </svg>
      </button>
    </div>
    <div
      class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden mt-2 lg:mt-0 bg-white lg:bg-transparent text-black p-4 lg:p-0 z-20"
      id="nav-content">

      {% if navigation.items %}
      <ul class="pt-6 lg:pt-0 list-reset lg:flex justify-end flex-1 items-center">
        {% for item in navigation.items %}
        <li
          class="{{ 'font-bold' if item.url == ('/' + path) }} {{ 'font-bold' if item.hack == ('/' + path)}} nav__item mr-3">
          <a @click="isOpen = false"
            class="text-ml inline-block text-blue-800 no-underline hover:text-indigo-500 py-2 px-4 items-center"
            href="{{ item.url }}">{{ item.text }}</a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}

    </div>
  </div>
  </div>
  <hr class="border-b border-gray-100 opacity-25 my-0 py-0" />
</nav>

<!--
  We should remove this script and use alpinejs x-show control.
-->
<script>
  /*Toggle dropdown list*/
  /*https://gist.github.com/slavapas/593e8e50cf4cc16ac972afcbad4f70c8*/

  var navMenuDiv = document.getElementById("nav-content");
  var navMenu = document.getElementById("nav-toggle");

  document.onclick = check;
  function check(e) {
    var target = (e && e.target) || (event && event.srcElement);

    //Nav Menu
    if (!checkParent(target, navMenuDiv)) {
      // click NOT on the menu
      if (checkParent(target, navMenu)) {
        // click on the link
        if (navMenuDiv.classList.contains("hidden")) {
          navMenuDiv.classList.remove("hidden");
        } else {
          navMenuDiv.classList.add("hidden");
        }
      } else {
        // click both outside link and outside menu, hide menu
        navMenuDiv.classList.add("hidden");
      }
    }
  }
  function checkParent(t, elm) {
    while (t.parentNode) {
      if (t == elm) {
        return true;
      }
      t = t.parentNode;
    }
    return false;
  }
</script>
