<!-- Footer -->
<div class="flex flex-row items-start pt-10 pr-20">
  <!-- Footer about-->
  <div class="flex flex-col justify-center items-start p-0 flex-none mx-10 my-0">
    <a href="/" class="font-semibold font-sans text-4xl mx-0 my-7">Web3Community</a>
    <p class="font-normal font-sans not-italic text-xl w-152 h-14">An Open Source Community that focuses on decentralized applications, Web3, and blockchain technologies 🚀</p>
    <div class="flex flex-row items-center py-7 px-0 w-36 h-20 left-0 top-44 rounded-md my-7 mx-0 ">
      <a href="https://github.com/web3community" >
        <img src="/images/github.svg" alt="GitHub" />
      </a>
      <a href="https://twitter.com/web3community">
        <img src="/images/Twitter.svg" alt="Twitter" />
      </a>
      <a href="https://discord.gg/TSRwqx4K2v">
        <img src="/images/Discord.svg" alt="Discord" />
      </a>
    </div>
  </div>
    <!-- Footer Links-->
  <div class="flex flex-row items-start p-0 my-0 mx-10">
    <!-- Footer Links group1-->
    <div class="flex flex-col items-start p-0 my-0 mx-7">
      <div class="font-sans font-medium text-3xl my-7 mx-0 order-1">Curriculum</div>
      <a href="https://github.com/web3community" class="font-sans underline font-normal text-xl order-2">Beginner</a>
      <a href="https://github.com/web3community" class="font-sans underline font-normal text-xl my-7 mx-0 order-2">Intermediate</a>
      <a href="https://github.com/web3community" class="font-sans underline font-normal text-xl order-3">Advanced</a>
    </div>
    <!-- Footer Links group2-->
    <div class="flex flex-col items-start p-0 my-0 mx-7">
      <div class="font-sans font-medium text-3xl my-7 mx-0 order-1">Blog</div>
      <a href="https://dev.to/web3community/accelerate-your-learnings-with-web3community-and-build-your-first-web-3-0-app-1810" class="font-sans underline font-normal text-xl order-2">
        <p>Accelerate Your Learnings With Web3Community and Build Your First Web 3.0 App</p>
      </a>
      <a href="https://dev.to/web3community/web-3-community-hacktoberfest-2021-41mi" class="font-sans underline font-normal text-xl my-7 mx-0 order-2">
        <p>Web 3 Community - Hacktoberfest 2021</p>
      </a>
    </div>
  </div>
</div>
